@charset "utf-8";
/* header ************************************* */
:root {
  --text-color: #f0f4f5;
  --background-color: #263343;
}
html {
  font-size: 10px;
}
header {
  position: relative;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1.2rem;
  z-index: 10;
  color: #FFF;
}
.navbar_logo {
  font-size: 4rem;
}

.headerBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.headerBg > video {
  min-width: 100%;
  min-height: 100%;
}
.navbar_menu {
  display: flex;
  padding-left: 0;
  font-size: 2.5rem;
}
.navbar_menu li {
  padding: 0.8rem 1.2rem;
}
.navbar_menu li:hover {
  background-color: navy;
}
.navbar_icons {
  display: flex;
  font-size: 2.5rem;
}
.navbar_icons li {
  padding: 0.8rem 1.2rem;
}

.navbar_toogleBtn {
  display: none;
  position: absolute;
  right: 3.2rem;
  font-size: 2.4rem;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 0.8rem 1.2rem;
  }
  .navbar_menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .navbar_menu li {
    width: 100%;
    text-align: center;
  }
  .navbar_icons {
    display: none;
    justify-content:center;
    width: 100%;
  }
  .navbar_toogleBtn {
    display: block;
  }
  .toogle-open {
    display: flex;
  }
}
