@charset "utf-8";

@media (max-width:1200px) {

  .character>img {
    width: 400px;
    height: 380px;
  }

  .introduce .hello {
    font-size: 5rem;
  }
}

/* 768px */
@media (max-width: 768px) {
  header {
    width: 100%;
  }

  nav {
    flex-direction: column;
    width: 93%;
  }

  .benner {
    width: 93%;
    flex-direction: column;
    justify-content: space-between;
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .nav-open {
    display: block;
  }

  .nav-menu li {
    width: 100%;
    text-align: center;

  }

  .logo {
    width: 100%;
    font-size: 2.8rem;
    font-weight: bolder;
  }

  .nav-bar {
    display: block;
    position: absolute;
    right: 1rem;
    font-size: 3rem;
  }


  .character>img {
    width: 380px;
    height: 360px;
  }
.introduce{
  margin-top: 2rem;
}
  .introduce .hello {
    font-size: 6rem;
  }

  .introduce>p {
    font-size: 1.5rem;
  }

  /* main *** */
  main {
    margin-top: 30rem;
  }
/* sc-web */
  #sc-web-site {
    width: 95%;
  }

  .web-wrap {
    flex-direction: column;
  }

  .web-left-txt {
    box-shadow: none;
    height: 30%;
  }
  .web-right-video{
    height: 100%;
  }
  .web-left-txt,
  .web-right-video {
    width: 100%;
  }

  .txt-flow p {
    padding: 0.5rem 0;
  }

/* sc-mini-project */
.mini-h1{
  font-size: 3rem;
}
.mini-h3{
  font-size: 1.5rem;
}
.mini-btn-wrap{
  flex-direction: column;
} 
.mini-btn-wrap > .btn-mini{
  width: 100%;
}
a.mini-content{
  width: 100%;
}

  /* 공통분모 */
  button {
    padding: 0.8rem 1rem;
    border-radius: 3rem;
    font-size: 1.6rem;
  }
}

/*  400px  */
@media (max-width: 400px) {

  main {
    margin-top: 40rem;
  }

  nav {
    flex-direction: column;
  }

  .nav-menu {
    flex-direction: column;
    width: 100%;
  }

  .nav-menu li {
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
  }

  .logo {
    width: 100%;
    font-size: 2rem;
    font-weight: bolder;
  }

  .nav-bar {
    display: block;
    position: absolute;
    right: 1rem;
    font-size: 2rem;
  }

  .character>img {
    width: 300px;
    height: 280px;
  }

  .introduce .hello {
    font-size: 4rem;
  }

  .introduce>p {
    font-size: 1.2rem;
  }


  /* MAIN */
  main {
    margin-top: 0;
  }

  /* 공통분모 */

  button {
    padding: 0.6rem 0.8rem;
    border-radius: 3rem;
    font-size: 1.2rem;
  }
}