@charset "utf-8";

html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

body {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

/* wrap ***********************************************/
.hidden {
  display: none;
}

#wrap {
  width: 50%;
  margin: 10rem auto;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  text-align: center;
}

button {
  border: 1px solid #fff;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

input {
  border: none;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.3);
}

/*  header ********** */
header {
  margin-bottom: 3rem;
  position: relative;
}

header .logout {
  position: absolute;
  top: 2%;
  right: 2%;
  padding: 0.5rem 1.2rem;
  font-size: 2rem;
}

header .time {
  font-size: 10rem;

}

header .login-name {
  font-size: 3rem;
  font-weight: bold;

}

header #loginForm {
  padding-top: 2rem;
}

header #loginForm input {
  padding: 1.2rem;
  font-size: 1.8rem;
  text-align: center;
}

header #loginForm button {
  padding: 0.5rem 1.2rem;
  margin-left: 3rem;
  font-size: 2rem;
}

/* main *******************/
main {
  display: flex;
  font-size: 2rem;
  margin-bottom: 3rem;
}

main section {
  width: 40%;
  background-color: rgba(255, 255, 255, 0.4);
  margin: 0 auto;
}

#left #todoForm input {
  font-size: 1.8rem;
  background-color: rgba(255, 255, 255, 0.6);
  text-align: center;
  padding: 0.8rem;
  width: 100%;


}

main h2 {
  color: #000;
  border-radius: 10px;
}

#left .todoList {
  text-align: justify;
  padding-left: 0.5rem;
}

#left .todoList li {
  font-size: 1.8rem;
}

/*  footer */
footer .quote {
  font-size: 2rem;
  word-spacing: -0.2rem;
}

/* outside ***********************************************/
.bg_desc {
  position: fixed;
  bottom: 20px;
  height: 2rem;
  line-height: 2rem;
  padding-left: 1rem;
}

.video_frame video {
  z-index: -1;
  /* before에 배경에그라데이션을보이려면 video태그가z인덱스에서 뒤로가야함 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /*max-width*/
  min-height: 100%;
  /* min,max는 full로 사이즈를 설정할때 주로사용
  지정한 사이즈보다 더작거나 커질수없음 즉, 100%로설정한사이즈가 가장작은사이즈고
  더이상 작아질수없음 */
}