@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');
body,html{width: 100vw;
height: 100vh;}
header{
  width: 40%;
  height: 100vh;
  position: fixed;
  background-color: darkgreen;
  font-family: 'Rammetto One', cursive;
  font-size: 120px;
}
main{
  width: 60%;
}