@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");

* {
  font-family: "Aboreto", cursive;
  font-weight: 800;
}
body {
  height: 100vh;
}
.wrap {
  width: 100%;
  height: 100%;
  perspective: 800px;
  background-color: rgb(26, 25, 25);
}
.menu-icon {
  position: fixed;
  top: 30px;
  left: 30px;
  width: 30px;
  height: 30px;
  color: #fff;
  font-size: 30px;
  z-index: 100;
  opacity: 0;
  animation-name: icon-shake;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  cursor: inherit;
}
@keyframes icon-shake {
  0%{
    transform: scale(1);
    color: #fff;
  }
  100%{
    color: #555;
    transform: scale(1.5);
  }
}
/* *************** menu-bar ************************ */
nav.menu-bar{
  height: 100%;
  width: 10%;
  background-color: #ddd;
  text-align: center;
  position: absolute;  /* 부모태그의 rerative,fixeid가 들어가있지않다면 기준은 body가 된다*/
  top: 0;
  left: 0;
  transform-origin: left center;
  transform: rotateY(20deg);
  transition: all 1s;
  opacity: 1;
}
/* class: menu-off => 메뉴바가 메뉴를 클릭하면 섹션만존재 ,  메뉴는 사라지게*/
nav.menu-off{
  transform: rotateY(120deg);
  opacity: 0;
}
/***----------------------------------*/
nav.menu-bar > img{
  display: block;
  width: 70%;
  margin:  100px auto;
}
.menu-bar > ul> li{
  line-height: 4rem;
}

/* *******************main ************************* */
main {
  width: 100%;
  height: 100%;
  position: fixed;   /*relative를 안주고 fixed를 준이유는 main의 위치가 스클롤이나 등등으로 위치가 변하지않고 고정된상태에서 메뉴를 클릭하면 그고정된위치에서 다른 section이 보여지는 디자인이기때문에*/
  transform-origin: right center;
  transition: all 1s;
  transform: rotateY(0deg);
}
/*class : menu-on => main 아래에있는 section이 약간 기울게 */
main.menu-on{
  transform: rotateY(-10deg);
  transform-origin: right center;
}

/*************** image grid cotents ********************/

/*** box1 ********************************** */


main > section {
  position: absolute;
  top: 0;
  left: 0;
  /* layout*/
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  z-index: 1;
  opacity: 0;
    /* transition, transform 변화하는 값들을 기본값에 미리 0을 셋팅하면 브라우저가 대기상태가된다. 안하면 동작실행시 그때 암 */
}

/*** class : on => 메뉴를 클릭하면 해당 section이보여지면서 rotate되도록 하는 클래스  */
main > section.on{
  opacity: 1;
  z-index: 2;
}

main > section.on > p{
  transition: all 1s;
  transform: rotateY(0deg);
}

/***---------------------------------------------------------*/
main > section > p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(235, 242, 248);
  transform: rotateY(180deg);
  transition: all 1s;
}


section.box1 > p:nth-child(1) {
  grid-column: 1 / span 2;
  background-color: #333;
  font-size: 3rem;
}

section.box1 > p:nth-child(2) {
  background: url(../images/m1.jpg) no-repeat right center;
  background-size: cover;
}

section.box1 > p:nth-child(3) {
  background-color: #666;
}
section.box1 > p:nth-child(4) {
  background-color: #888;
  font-size: 1.5rem;
}
section.box1 > p:nth-child(5) {
  background: url(../images/m3.jpg) no-repeat right center;
  background-size: cover;
}

section.box1 > p:nth-child(6) {
  grid-column: 3 / span 2; /* 3번부터 2개 영역*/
  grid-row: 2 / span 2;
  background: url(../images/m2.jpg) no-repeat center right;
  background-size: cover;
}
section.box1 > p:nth-child(7) {
  background: url(../images/m4.jpg) no-repeat center right;
  background-size: cover;
}
section.box1 > p:nth-child(8) {
  background-color: #333;
  font-size: 1.5rem;
}
section.box1 > p:nth-child(9) {
  background-color: #333;
  font-size: 1.5rem;
}
section.box1 > p:nth-child(10) {
  grid-column: 2 / span 2;
  background: url(../images/m5.jpg) no-repeat center right;
  background-size: cover;
}
section.box1 > p:nth-child(11) {
  background-color: #222;
  font-size: 1.5rem;
}

/*** box2 ****************************** */

section.box2 > p:nth-child(1) {
  background-color: #666;
  font-size: 1.5rem;
}
section.box2 > p:nth-child(2) {
  background: url(../images/w1.jpg) no-repeat center right;
  background-size: cover;
}
section.box2 > p:nth-child(3) {
  background-color: #333;
  grid-column: 3 / span 2;
  font-size: 3rem;
}
section.box2 > p:nth-child(4) {
  grid-row: 2 / span 2;
  background: url(../images/w2.jpg) no-repeat center;
  background-size: cover;
}
section.box2 > p:nth-child(5) {
  grid-row: 2 / span 2;
  grid-column: 2 / span 2;
  background: url(../images/w3.jpg) no-repeat center;
  background-size: cover;
}
section.box2 > p:nth-child(6) {
  background: url(../images/w4.jpg) no-repeat center;
  background-size: cover;
}
section.box2 > p:nth-child(7) {
  background-color: #555;
  font-size: 1.5rem;
}
section.box2 > p:nth-child(8) {
  background: url(../images/w5.jpg) no-repeat center;
  background-size: cover;
}
section.box2 > p:nth-child(9) {
  background-color: #444;
  font-size: 1.5rem;
}
section.box2 > p:nth-child(10) {
  background: url(../images/w6.jpg) no-repeat center;
  background-size: cover;
}
section.box2 > p:nth-child(11) {
  background: url(../images/w7.jpg) no-repeat center;
  background-size: cover;
}
/*** box3 ****************************** */
section.box3 > p:nth-child(1) {
  grid-column: 1 / span 2;
  grid-row: 1 / span 4;
  background: url(../images/k1.jpg) no-repeat center;
  background-size: cover;
}
section.box3 > p:nth-child(2) {
  font-size: 1.5rem;
  background-color: #666;
}
section.box3 > p:nth-child(3) {
  background: url(../images/k2.jpg) no-repeat center;
  background-size: cover;
}
section.box3 > p:nth-child(4) {
  grid-column: 3 / span 2;
  background-color: #222;
  font-size: 3rem;
}
section.box3 > p:nth-child(5) {
  grid-row: 3 / span 2;
  background: url(../images/k3.jpg) no-repeat center;
  background-size: cover;
}
section.box3 > p:nth-child(6) {
  font-size: 1.5rem;
  background-color: #999;
}
section.box3 > p:nth-child(7) {
  background: url(../images/k4.jpg) no-repeat center;
  background-size: cover;
}
