@charset "utf-8";

*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  color: #333333;
}
a{
  display: block;
  text-decoration: none;
}
.wrap{
  width: 1200px;
  margin: 0 auto;
  height: 700px;
}
.pop{
  width: 500px;
  height: 200px;
  position: fixed;
  left: 0;
  right: 0;
  margin: 200px auto;
  z-index: 8;
  background-color: #fff;
  text-align: center;
  display: none;
}
.pop h2{
  padding: 20px;
}
.pop a{
  padding: 5px;
  border: 1px solid #000;
  position: absolute;
  right: 10px;
  bottom: 10px;
}
/* ***************** header *********************************  */
header{
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.h-wrap{
  width: 100%;
  height: 150px;
 background-color: rgb(27, 95, 27); 
 position: absolute;
 top: 100%;
 left: 0;
 display: none;
 z-index: 2;
}
.logo{
  width: 20%;
  height: 40px;
  text-align: center;
}
nav{
  width: 60%;
  height: 100%;
  text-align: center;
  z-index: 10;
}
nav > ul{
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  margin-left: auto;
}
.main-menu{
  width: 25%;
  position: relative;
}
.main-menu > a{
  background-color: rgb(1, 12, 1);
  color: #fff;
  padding: 10px;
  font-size: 17px;
  font-weight: bold;
}
.main-menu:hover > a{
  background-color:rgb(52, 180, 47);
  color: #000;
}

.sub-menu{
  width: 100%;
  height: 144px;
  display: none;
  position: absolute;
  
}
.sub-menu a{
  background-color: rgb(27, 95, 27);
  color: #fff;
  padding: 10px;
}
.sub-menu li:hover  a{
  background-color: rgb(181, 226, 170);
  color: #000;
}
/* ***************** slide *********************************  */
.slide{
  overflow: hidden;
  height: 300px;
  position: relative;
}
.slide .slide-list {
  /* display: none; */
  position: absolute;
  top: 0;
  left: 0;
}
.slide a img{
  display: block;
}
/* ***************** contents *********************************  */
.contents{
  height: 200px;
  display: flex;
}
.contents > div{
  width: 33.333333%;
  height: 100%;
}
/* tab */

.tab-title li {
  display: inline-block;
  height: 40px;
  padding: 10px;
}
li.on{
  background-color: yellowgreen;
}
ul.on{
  background-color: yellowgreen;
}

.tab-item{
  width: 100%;
  position: relative;
}
.notice,
.gallery{
  position: absolute;
  height: 160px;
  width: 100%;
}
.notice li{
  display: flex;
  justify-content: space-around;
  padding: 8px;
}
.notice li a{
  width: 72%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.notice li:hover{
  text-decoration: underline;
}
.gallery{display: none;}
.gallery > li{
  display: inline-block;
  width: 32%;
  padding: 30px 15px;
}

/* link */

.link h2{
display: inline-block;
background-color: #ecd0d0;
height: 40px;
padding: 10px;
}
.link-gallery{
  height: 160px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* ***************** footer *********************************  */
footer{
  height: 100px;
  display: flex;
}
footer > div{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100%;
}

footer > p{
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}
