@charset "utf-8";

#wrap {
  position: relative;
  width: 100%;
  height: 6000px;
}
.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.5s;
}
.bg.active {
  opacity: 1;
}
/* 컨텐츠가 없으면 background-img는 보이지않음 */
.bg.one {
  background-image: url("../img/sky1.png");
}
.bg.two {
  background-image: url("../img/sky2.png");
}
.bg.three {
  background-image: url("../img/sky3.png");
}
.bg.four {
  background-image: url("../img/sky4.png");
}

/* ********* move animation ************ */
.town {
  position: fixed;
  width: 100%;
  height: 100%;
}
.town img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}
.town img.town-view {
  opacity: 1;
}

/* ******* circle animation ******************** */
.circle {
  position: fixed;
  width: 100%;
  height: 100%;
}
.circle > .circle-img {
  position: absolute;
  top: 41%;
  left: 35%;
  animation: circle linear 10s infinite;
  /* animation-name: circle;
  animation-duration: 10s; */
  /* timing-function을 지정하지않으면 기본값이 easyout-easyin 이라 멈췄다가 다시실행하는효과로나옴 */
  /* animation-timing-function: linear; /* 일정하게 진행해라 */
  /* animation-iteration-count: infinite;  무한반복 */ 
}
@keyframes circle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* **************** sun animation **********************/
.sun{
  position: fixed;
  width: 100%;
  height: 100%;

}
.sun > .sun-img {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  transform: rotate(-90deg); 
  transform-origin:center  600px;
  transition: 1s;
  opacity: 0;
}

/* ********** moon amimation ********************** */

.moon > img{
  width: 200px;
  height: 200px;
  position: fixed;
  top: -100%;
  right: 100px;
  opacity: 0;
  transition: 1.5s;
}
.moon > img.lastMoon{
  top: 25%;
  right:100px ;
  opacity: 1;
}

