@charset "utf-8";

/* css에서 변수사용하기 (제어문까지 이용하는건  scss)
 -- 사용자지정변수 */
html{
  /* css변수선언 */
  --bg-color : #fff;
  --text-color : #121212;
  --link-color : #222;
}

html.dark{
  --bg-color : #121212;
  --text-color : #fff;
  --link-color : #fff;
}
body{
  /* css 변수사용  */
  background-color: var(--bg-color);
  color: var(--text-color);
}
a{
  color: var(--link-color);
}

